@charset "utf-8";
/* CSS Document */

#overlay_form{
	position: fixed !important;
	border: 0px;
	padding: 10px 0px 0px 0px;
	background: white;
	width: 52%;
	height:auto;
	z-index:1;
}
#pop{
	display: block;
	border: 1px solid gray;
	width: 65px;
	text-align: center;
	padding: 6px;
	border-radius: 5px;
	text-decoration: none;
	margin: 0 auto;
}
.close{ vertical-align:top; float:right; margin-right:5px;}